In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("hr5m.csv", engine="pyarrow")
data

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,742048,Drs.,Lizeth,P,Mccoll,F,lizeth.mccoll@ibm.com,Renato Mccoll,Serena Mccoll,Broxton,...,171-86-6830,216-703-2865,Alliance,Stark,Alliance,OH,44601,Midwest,lpmccoll,b5CDsd1Mz.
1,671135,Ms.,Argentina,O,Hern,F,argentina.hern@ntlworld.com,Earl Hern,Chrissy Hern,Tapley,...,083-02-3078,202-572-0136,Washington,District of Columbia,Washington,DC,20411,South,aohern,vsUv&nFc?lM|2-
2,965851,Mr.,Damian,N,Patillo,M,damian.patillo@outlook.com,Harley Patillo,Lucinda Patillo,Etter,...,326-11-9852,209-784-3915,Burrel,Fresno,Burrel,CA,93607,West,dnpatillo,GQj^c:4#B:F8
3,224660,Drs.,Imogene,P,Hagopian,F,imogene.hagopian@gmail.com,Delmar Hagopian,Carolina Hagopian,Lockett,...,656-36-0772,210-460-6327,Bryan,Brazos,Bryan,TX,77806,South,iphagopian,d[aHK7aiH&
4,852694,Mr.,Walker,E,Wallach,M,walker.wallach@aol.com,Gale Wallach,Georgianna Wallach,Creekmore,...,296-15-3535,225-846-1969,Newllano,Vernon,Newllano,LA,71461,South,wewallach,kM\7h*}7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,552255,Mr.,Antonio,R,Konopka,M,antonio.konopka@yahoo.com,Esteban Konopka,Kacey Konopka,Acton,...,003-08-6150,316-932-1282,Jewell,Jewell,Jewell,KS,66949,Midwest,arkonopka,e[<1n_\T7?giPoc
4999996,515306,Mr.,Darius,O,Krug,M,darius.krug@hotmail.com,Sang Krug,Noriko Krug,Morse,...,629-31-0751,210-544-8916,Houston,Harris,Houston,TX,77271,South,dokrug,bUh[sH3xkN
4999997,553400,Ms.,Merle,M,Rufus,F,merle.rufus@ibm.com,Ramon Rufus,Patrica Rufus,Ballou,...,438-99-8079,423-442-8681,Yorkville,Gibson,Yorkville,TN,38389,South,mmrufus,BvH$f;Poc
4999998,824049,Mr.,Fletcher,A,Moncrief,M,fletcher.moncrief@gmail.com,Sydney Moncrief,Marvel Moncrief,Lewis,...,142-23-2317,206-305-4859,Twisp,Okanogan,Twisp,WA,98856,West,famoncrief,WeiGR!+7NNq#
4999999,135094,Mr.,Dale,Q,Woodall,M,dale.woodall@gmail.com,Trinidad Woodall,Janella Woodall,Alphin,...,173-86-0007,480-695-6859,Winkelman,Gila,Winkelman,AZ,85192,West,dqwoodall,cjucUfxIw5KJh>o

In [4]:
data.shape

(5000000, 37)

In [5]:
data.columns.values

array(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial',
       'Last Name', 'Gender', 'E Mail', "Father's Name", "Mother's Name",
       "Mother's Maiden Name", 'Date of Birth', 'Time of Birth',
       'Age in Yrs.', 'Weight in Kgs.', 'Date of Joining',
       'Quarter of Joining', 'Half of Joining', 'Year of Joining',
       'Month of Joining', 'Month Name of Joining', 'Short Month',
       'Day of Joining', 'DOW of Joining', 'Short DOW',
       'Age in Company (Years)', 'Salary', 'Last % Hike', 'SSN',
       'Phone No. ', 'Place Name', 'County', 'City', 'State', 'Zip',
       'Region', 'User Name', 'Password'], dtype=object)

In [11]:
data.groupby("Quarter of Joining")["Gender"].value_counts()

Quarter of Joining  Gender
Q1                  F         609295
                    M         609202
Q2                  M         638439
                    F         637991
Q3                  F         653025
                    M         650897
Q4                  F         600821
                    M         600330
Name: Gender, dtype: int64

In [12]:
data.groupby("Quarter of Joining")["Region"].value_counts()

Quarter of Joining  Region
Q1                  South        451971
                    Midwest      334869
                    West         216290
                    Northeast    215367
Q2                  South        474178
                    Midwest      350301
                    Northeast    226596
                    West         225355
Q3                  South        483945
                    Midwest      357793
                    Northeast    231585
                    West         230599
Q4                  South        445562
                    Midwest      329476
                    Northeast    213436
                    West         212677
Name: Region, dtype: int64

In [9]:
data.groupby("Region")["Gender"].value_counts()

Region     Gender
Midwest    F         686422
           M         686017
Northeast  F         443718
           M         443266
South      M         927856
           F         927800
West       F         443192
           M         441729
Name: Gender, dtype: int64

In [8]:
data["Gender"].value_counts()

F    2501132
M    2498868
Name: Gender, dtype: int64

In [7]:
data["First Name"].value_counts()

Andre        2771
Val          2764
Francisco    2739
Rory         2737
Van          2733
             ...
Phuong        519
Jayna         518
Peggie        516
Johnsie       510
Bailey        507
Name: First Name, Length: 5163, dtype: int64

In [6]:
data["Name Prefix"].value_counts()

Mr.      1747953
Ms.      1110802
Mrs.      833885
Hon.      527759
Drs.      278655
Prof.     250986
Dr.       249960
Name: Name Prefix, dtype: int64

In [5]:
data["Quarter of Joining"].value_counts()

Q3    1303922
Q2    1276430
Q1    1218497
Q4    1201151
Name: Quarter of Joining, dtype: int64

In [6]:
data["Half of Joining"].value_counts()

H2    2505073
H1    2494927
Name: Half of Joining, dtype: int64

In [7]:
data["Month Name of Joining"].value_counts()

August       468295
July         450981
May          434522
June         427424
March        422987
April        414484
January      413247
December     408721
October      400048
November     392382
September    384646
February     382263
Name: Month Name of Joining, dtype: int64

In [8]:
data["County"].value_counts()

Los Angeles    61870
Jefferson      58354
Washington     55558
Montgomery     46164
Orange         39923
               ...
Newnan            77
Sequim            76
Keyapaha          75
Big Rock          74
Paris             73
Name: County, Length: 2752, dtype: int64

In [9]:
data["City"].value_counts()

Washington               37753
Houston                  23423
New York City            19153
El Paso                  18438
Dallas                   15789
                         ...
Brill                       64
Bodega                      63
Benham                      61
Graves Mill                 61
Truth Or Consequences       50
Name: City, Length: 19206, dtype: int64

In [10]:
data["Year of Joining"].value_counts()

2019    453886
2020    433118
2018    371069
2017    322117
2016    287230
2015    259703
2014    235958
2013    218186
2012    200582
2011    186234
2010    172004
2009    159892
2008    149995
2007    138369
2006    129797
2005    121327
2004    113178
2003    105185
2002     98139
2001     90776
2000     84794
1999     78530
1998     72810
1997     66909
1996     61681
1995     56097
1994     51529
1993     46423
1992     41766
1991     36882
1990     32917
1989     28882
1988     24933
1987     20726
1986     17088
1985     12926
1984      9480
1983      6106
1982      2638
1981       138
Name: Year of Joining, dtype: int64

In [11]:
data["Region"].value_counts()

South        1855656
Midwest      1372439
Northeast     886984
West          884921
Name: Region, dtype: int64

In [12]:
data["Place Name"].value_counts()

Washington               37753
Houston                  23423
New York City            19153
El Paso                  18438
Dallas                   15789
                         ...
Brill                       64
Bodega                      63
Benham                      61
Graves Mill                 61
Truth Or Consequences       50
Name: Place Name, Length: 19206, dtype: int64